<!DOCTYPE html>
<html>
  <head>
    <title>Bambank</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <div class="bg-white">
        <header class="absolute inset-x-0 top-0 z-50">
          <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Your Company</span>
                <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
              </a>
            </div>
            <div class="flex lg:hidden">
              <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Open main menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
              <% if user_signed_in? %>
                <%= current_user.email %>
                <%= link_to "Sign Out", destroy_user_session_path, data: { "turbo-method": :delete } %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
                &nbsp;
                <%= link_to "Log in", new_user_session_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
              <% end %>
            </div>
          </nav>
        </header>
      
        <div class="relative isolate px-6 pt-14 lg:px-8">
         <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
